<!DOCTYPE HTML>

<html lang="ja">

<head>
	<meta charset="utf-8">
	<title>webpack test</title>
</head>

<body>
	<div class="webpackTest">
		<div class="webpackTestTitle">webpack test</div>
		<div class="webpackTestDescription">webpackのテストです</div>
		<input type="button" value="webpack test btn" class="commonBtn">
	</div>
	</div>

	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="static/js/app.{{ static_file_version }}.js"></script>
</body>

</html>
